In [1]:
username = input("enter your username :")
import time
if username == "saloni pareek":
    print("checking username ")
    time.sleep(0.5)
    print("your username is right ")
    password = input("enter your password :")
    if password == "saloni389":
        print("your login information is completed ")
    
    else  :
        exit()
else:
    exit()

enter your username :saloni pareek
checking username
your username is right
enter your password :saloni389
your login information is completed

In [4]:
name = ['saloni','arpita','suhani']
age = [20,18,21]
gender = ['female','female','female']

In [2]:
data ={'name':input("enter the list of name :"),"age":input("enter the list of age :"),"gender":input("enter the list of gender :")}
print(data)
import pandas as pd
df = pd.DataFrame(data)
df

enter the list of name :saloni yash arpita roshan suhani
enter the list of age :19 19 18 18 21
enter the list of gender :female male female male female
{'name': 'saloni yash arpita roshan suhani', 'age': '19 19 18 18 21', 'gender': 'female male female male female'}

ValueError: If using all scalar values, you must pass an index

In [5]:
dict ={'name':input("enter the names :").split(),
       "age":input("enter the age :").split(),
       "gender":input("enter the gender :").split()}
print(dict)
import pandas as pd
df = pd.DataFrame(dict)
df

enter the names :saloni yash arpita roshan suhani
enter the age :19 19 18 18 21
enter the gender :F M F M F
{'name': ['saloni', 'yash', 'arpita', 'roshan', 'suhani'], 'age': ['19', '19', '18', '18', '21'], 'gender': ['F', 'M', 'F', 'M', 'F']}

     name age gender
0  saloni  19      F
1    yash  19      M
2  arpita  18      F
3  roshan  18      M
4  suhani  21      F

In [7]:
L1 = ["Data",({"Sub":"Python"},["Jack",{"Name":["Jack","Rohan"]},{"Sub":"HTML"}])]
L1[1][1][1]["Name"]= input("enter the updated names :").split()
print("Here is the new updated list :",L1)
D1={L1[0]:L1[1]}
print("convertor of list into dict is :",D1)

enter the updated names :Zyan Jacob
Here is the new updated list : ['Data', ({'Sub': 'Python'}, ['Jack', {'Name': ['Zyan', 'Jacob']}, {'Sub': 'HTML'}])]
convertor of list into dict is : {'Data': ({'Sub': 'Python'}, ['Jack', {'Name': ['Zyan', 'Jacob']}, {'Sub': 'HTML'}])}

In [ ]:
dict1 = {}