In [7]:
l1=[26,[27,90,[100,105,110,200]]]
a=[]
b=[]
for k in l1[1][2]:
    if k%2==0:
        a.append(k)
    else:
        b.append(k)
l1[1][2]=0
for m in l1[1]:
    if m%2==0:
        a.append(m)
    else:
        b.append(m)
l1[1]=0
for n in l1:
    if n%2==0:
        a.append(n)
    else:
        b.append(n)
a.remove(0)
a.remove(0)
print(a)
print(b)

[100, 110, 200, 90, 26]
[105, 27]

In [10]:
data={"name":"jack","keys":{"code":1060,"password":"sean","user_name":["abc@gmail.com"]}}
data["keys"]["password"]= input("Enter the new value of password :")
print(data)

Enter the new value of password :saloni
{'name': 'jack', 'keys': {'code': 1060, 'password': 'saloni', 'user_name': ['abc@gmail.com']}}

In [12]:
data={"name":"jack","keys":{"code":1060,"password":"sean","user_name":["abc@gmail.com"]}}
data["keys"]["user_name"].clear()
print(data)

{'name': 'jack', 'keys': {'code': 1060, 'password': 'sean', 'user_name': []}}

In [40]:
def sp():
    import pandas as pd
    d1 ={"name":["saloni"],
         "age":[20],
         "Gender":["F"]}
    df = pd.DataFrame(d1)
    print(df)

In [41]:
sp()

     name  age Gender
0  saloni   20      F

In [45]:
def bvdsg():
    l1=[]
    for k in range(0,10):
        l1.append(k)
    return l1

In [46]:
print(bvdsg())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
l1=[]
even=[]
odd=[]
prime=[]
for k in range(0,201):
    l1.append(k)
print(l1)

for k in l1:
    if k%2==0:
        even.append(k)
    else:
        odd.append(k)
print("\n\nthe even number list is :\n",even)
print("\n\nthe odd number list is :\n",odd)

for k in

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200]


the even number list is :
 [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]


the odd number list is :
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199]

In [19]:
def value():
    from colorama import Fore,Back
    return "you passed the first step"+Fore.GREEN+Back.BLUE

    def detail():
        return "fill your details \n"+input("enter your name :\n")+input("enter your age :")

In [27]:
def folder():
    return value()

In [28]:
print(folder())

you passed the first step

In [75]:
def info():
    return input("your college :\n")+input("your batch :\n")+"your information is completed....\nthank you"

In [76]:
def call():
#     value()
#     detail()
    return info()

In [77]:
print(call())

your college :
bm
your batch :
y
bmyyour information is completed....
thank you

In [8]:
def value():
    from colorama import Fore,Back
    return "you passed the first step"+Fore.GREEN+Back.BLUE

    def detail():
        return input("your name :\n")+input("your age :\n")+"your details are submitted"

In [9]:
def call():
    value()
    detail()

In [10]:
print(call())

NameError: name 'detail' is not defined

In [8]:
def data():
    global a 
    a = input("enter your name :")
    global b
    b = int(input("enter the no. of siblings you have :"))
    global c
    c = input("enter your siblings name :")
    global d
    d = input("enter your age :")
    global e
    e = input("enter your mother's name :")
    global f
    f = input("enter your father's name :")

In [12]:
data()

enter your name :saloni
enter the no. of siblings you have :1
enter your siblings name :suhani
enter your age :20
enter your mother's name :ritu
enter your father's name :ravindra

In [14]:
print("My name is :",a)
print("No. of sibling is :",b)
print("My sibling's name is :",c)
print("My age is :",d)
print("My mother's name is :",e)
print("My father's name is :",f)

My name is : saloni
No. of sibling is : 1
My sibling's name is : suhani
My age is : 20
My mother's name is : ritu
My father's name is : ravindra

In [1]:
def value():
    return "you have to fill the details given below "

def detail():
    return input("enter the name :\n")+input("enter the age :\n")+"other information have to given below "

def info():
    return input("enter the college name :\n")+input("enter the batch :\n")+"you completed the details...."

In [2]:
def vsfs():
    value()
    detail()
    info()

In [3]:
print(vsfs())

enter the name :
saloni
enter the age :
20
enter the college name :
poornima university
enter the batch :
cs
None

In [7]:
call = lambda a=int(input("enter the no. :")),b=int(input("enter another no. :")):a+b
d1 = lambda c=int(input("enter the no. :")),d=int(input("enter another no. :")):c-d
a1 = lambda e=int(input("enter the no. :")),f=int(input("enter another no. :")):e*f
b1 = lambda g=int(input("enter the no. :")),h=int(input("enter another no. :")):g/h

enter the no. :43
enter another no. :65
enter the no. :23
enter another no. :64
enter the no. :74
enter another no. :34
enter the no. :25
enter another no. :5

In [8]:
call()

108

In [9]:
d1()

-41

In [10]:
a1()

2516

In [11]:
b1()

5.0

In [13]:
print("the addition is :",call())
print("the sub is :",d1())
print("the multiplication is :",a1())
print("the div is :",b1())

the addition is : 108
the sub is : -41
the multiplication is : 2516
the div is : 5.0

In [1]:
max_ = lambda a,b : a if a>b else b
min_ = lambda a,b : a if b>a else b

In [3]:
print("the maximum number is :",max_(9,4))
print("the minimum number is :",min_(2,7))

the maximum number is : 9
the minimum number is : 2

In [4]:
even_ = lambda a,b: a if a%2==0 else b
odd_ = lambda a,b: b if a%2==0 else a
print("the even no. is :",even_(6,5))
print("the odd no. is :",odd_(3,6))

the even no. is : 6
the odd no. is : 3

In [2]:
lst = [input("enter the list :").split()]
l1 = lambda lst : lst if input("enter the name : ") else print("hy there")

enter the list :s hd sfsh sgrbj

SyntaxError: invalid syntax (1946710644.py, line 1)