In [6]:
list = int(input("Enter the no."))
a = ['','one','two','Three','Four','Five','Six','Seven','Eight','Nine','Ten']
print(list)
a[list]

Enter the no.1
1

'one'

# {
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 4,
   "id": "e17521ea",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Enter the name of currency do you want to change in rupees :Dollar\n",
      "Enter the value in $ :234\n",
      "enter the value of one $ in Rupees :11\n",
      "Your result is : 2574.0 Rupees\n",
      "Your No. in word is : Two Thousand Five Hundred Seventy Four Rupees Only\n"
     ]
    }
   ],
   "source": [
    "a = input(\"Enter the name of currency do you want to change in rupees :\")\n",
    "\n",
    "if a == \"Dollar\":\n",
    "    a1 = int(input(\"Enter the value in $ :\"))\n",
    "    b1 = float(input(\"enter the value of one $ in Rupees :\"))\n",
    "    c = (a1*b1)\n",
    "    d = ['','One','Two','Three','Four','Five','Six','Seven','Eight','Nine','Ten','Eleven','Twelve','Thirteen','Fourteen','Fifteen','Sixteen','Seventeen','Eighteen','Nineteen']\n",
    "    e = ['','Ten','Twenty','Thirty','Forty','Fifty','Sixty','Seventy','Eighty','Ninety']\n",
    "    f = ['','One Hundred','Two Hundred','Three Hundred','Four Hundred','Five Hundred','Six Hundred','Seven Hundred','Eight Hundred','Nine Hundred',]\n",
    "    g = ['','One Thousand','Two Thousand','Three Thousand','Four Thousand','Five Thousand','Six Thousand','Seven Thousand','Eight Thousand','Nine Thousand','Ten Thousand']\n",
    "    print(\"Your result is :\",c,\"Rupees\")\n",
    "    h = int(c)\n",
    "    if c < 19 :\n",
    "        print(\"Your No. in word :\",d[h])\n",
    "    elif c <100 :\n",
    "        print(\"Your No. in word is : \",e[h//10] +\" \"+ d[h % 10 ])\n",
    "    elif c < 1000 :\n",
    "        print(\"Your No. in word is :\",f[h//100]+\" \"+ e[(h%100)//10] +\" \"+ d[h % 10 ])\n",
    "    elif c < 11000 :\n",
    "        print(\"Your No. in word is :\",g[h//1000]+\" \"+f[(h%1000)//100]+\" \"+ e[((h%1000)%100)//10] +\" \"+ d[h % 10 ],\"Rupees Only\")\n",
    "elif a == \"euro\":\n",
    "    a1 = float(input(\"Enter the Value in Euro:\"))\n",
    "    b1 = float(input(\"Enter the Value of one Euro in Rupees :\"))\n",
    "    c = a1*b1\n",
    "    d = ['','One','Two','Three','Four','Five','Six','Seven','Eight','Nine','Ten','Eleven','Twelve','Thirteen','Fourteen','Fifteen','Sixteen','Seventeen','Eighteen','Nineteen']\n",
    "    e = ['','Ten','Twenty','Thirty','Forty','Fifty','Sixty','Seventy','Eighty','Ninety']\n",
    "    f = ['','One Hundred','Two Hundred','Three Hundred','Four Hundred','Five Hundred','Six Hundred','Seven Hundred','Eight Hundred','Nine Hundred',]\n",
    "    g = ['','One Thousand','Two Thousand','Three Thousand','Four Thousand','Five Thousand','Six Thousand','Seven Thousand','Eight Thousand','Nine Thousand','Ten Thousand']\n",
    "    print(\"Your result is :\",c,\"Rupees\")\n",
    "    h = int(c)\n",
    "    if c < 19 :\n",
    "        print(\"Your No. in word :\",d[h])\n",
    "    elif c <100 :\n",
    "        print(\"Your No. in word is : \",e[h//10] +\" \"+ d[h % 10 ])\n",
    "    elif c < 1000 :\n",
    "        print(\"Your No. in word is :\",f[h//100]+\" \"+ e[(h%100)//10] +\" \"+ d[h % 10 ])\n",
    "    elif c < 11000 :\n",
    "        print(\"Your No. in word is :\",g[h//1000]+\" \"+f[(h%1000)//100]+\" \"+ e[((h%1000)%100)//10] +\" \"+ d[h % 10 ],\"Rupees Only\")\n",
    "elif a == \"yen\":\n",
    "    a1 = float(input(\"Enter the Value in Yen:\"))\n",
    "    b1 = float(input(\"Enter the Value of one yen in Rupees :\"))\n",
    "    c = a1*b1\n",
    "    d = ['','One','Two','Three','Four','Five','Six','Seven','Eight','Nine','Ten','Eleven','Twelve','Thirteen','Fourteen','Fifteen','Sixteen','Seventeen','Eighteen','Nineteen']\n",
    "    e = ['','Ten','Twenty','Thirty','Forty','Fifty','Sixty','Seventy','Eighty','Ninety']\n",
    "    f = ['','One Hundred','Two Hundred','Three Hundred','Four Hundred','Five Hundred','Six Hundred','Seven Hundred','Eight Hundred','Nine Hundred',]\n",
    "    g = ['','One Thousand','Two Thousand','Three Thousand','Four Thousand','Five Thousand','Six Thousand','Seven Thousand','Eight Thousand','Nine Thousand','Ten Thousand']\n",
    "    print(\"Your result is :\",c,\"Rupees\")\n",
    "    h = int(c)\n",
    "    if c < 19 :\n",
    "        print(\"Your No. in word :\",d[h])\n",
    "    elif c <100 :\n",
    "        print(\"Your No. in word is : \",e[h//10] +\" \"+ d[h % 10 ])\n",
    "    elif c < 1000 :\n",
    "        print(\"Your No. in word is :\",f[h//100]+\" \"+ e[(h%100)//10] +\" \"+ d[h % 10 ])\n",
    "    elif c < 11000 :\n",
    "        print(\"Your No. in word is :\",g[h//1000]+\" \"+f[(h%1000)//100]+\" \"+ e[((h%1000)%100)//10] +\" \"+ d[h % 10 ],\"Rupees Only\")\n",
    "elif a == \"afghani\" :\n",
    "    a1 = float(input(\"Enter the Value in Afghani:\"))\n",
    "    b1 = float(input(\"Enter the Value of one Afghani in Rupees :\"))\n",
    "    c = a1*b1\n",
    "    d = ['','One','Two','Three','Four','Five','Six','Seven','Eight','Nine','Ten','Eleven','Twelve','Thirteen','Fourteen','Fifteen','Sixteen','Seventeen','Eighteen','Nineteen']\n",
    "    e = ['','Ten','Twenty','Thirty','Forty','Fifty','Sixty','Seventy','Eighty','Ninety']\n",
    "    f = ['','One Hundred','Two Hundred','Three Hundred','Four Hundred','Five Hundred','Six Hundred','Seven Hundred','Eight Hundred','Nine Hundred',]\n",
    "    g = ['','One Thousand','Two Thousand','Three Thousand','Four Thousand','Five Thousand','Six Thousand','Seven Thousand','Eight Thousand','Nine Thousand','Ten Thousand']\n",
    "    print(\"Your result is :\",c,\"Rupees\")\n",
    "    h = int(c)\n",
    "    if c < 19 :\n",
    "        print(\"Your No. in word :\",d[h])\n",
    "    elif c <100 :\n",
    "        print(\"Your No. in word is : \",e[h//10] +\" \"+ d[h % 10 ])\n",
    "    elif c < 1000 :\n",
    "        print(\"Your No. in word is :\",f[h//100]+\" \"+ e[(h%100)//10] +\" \"+ d[h % 10 ])\n",
    "    elif c < 11000 :\n",
    "        print(\"Your No. in word is :\",g[h//1000]+\" \"+f[(h%1000)//100]+\" \"+ e[((h%1000)%100)//10] +\" \"+ d[h % 10 ],\"Rupees Only\")\n",
    "elif a == \"takka\" :\n",
    "    a1 = float(input(\"Enter the Value in Takka:\"))\n",
    "    b1 = float(input(\"Enter the Value of one Takka in Rupees :\"))\n",
    "    c = a1*b1\n",
    "    d = ['','One','Two','Three','Four','Five','Six','Seven','Eight','Nine','Ten','Eleven','Twelve','Thirteen','Fourteen','Fifteen','Sixteen','Seventeen','Eighteen','Nineteen']\n",
    "    e = ['','Ten','Twenty','Thirty','Forty','Fifty','Sixty','Seventy','Eighty','Ninety']\n",
    "    f = ['','One Hundred','Two Hundred','Three Hundred','Four Hundred','Five Hundred','Six Hundred','Seven Hundred','Eight Hundred','Nine Hundred',]\n",
    "    g = ['','One Thousand','Two Thousand','Three Thousand','Four Thousand','Five Thousand','Six Thousand','Seven Thousand','Eight Thousand','Nine Thousand','Ten Thousand']\n",
    "    print(\"Your result is :\",c,\"Rupees\")\n",
    "    h = int(c)\n",
    "    if c < 19 :\n",
    "        print(\"Your No. in word :\",d[h])\n",
    "    elif c <100 :\n",
    "        print(\"Your No. in word is : \",e[h//10] +\" \"+ d[h % 10 ])\n",
    "    elif c < 1000 :\n",
    "        print(\"Your No. in word is :\",f[h//100]+\" \"+ e[(h%100)//10] +\" \"+ d[h % 10 ])\n",
    "    elif c < 11000 :\n",
    "        print(\"Your No. in word is :\",g[h//1000]+\" \"+f[(h%1000)//100]+\" \"+ e[((h%1000)%100)//10] +\" \"+ d[h % 10 ],\"Rupees Only\")\n",
    "elif a == \"yuan\" :\n",
    "    a1 = float(input(\"Enter the Value in Yuan:\"))\n",
    "    b1 = float(input(\"Enter the Value of one Yuan in Rupees :\"))\n",
    "    c = a1*b1\n",
    "    d = ['','One','Two','Three','Four','Five','Six','Seven','Eight','Nine','Ten','Eleven','Twelve','Thirteen','Fourteen','Fifteen','Sixteen','Seventeen','Eighteen','Nineteen']\n",
    "    e = ['','Ten','Twenty','Thirty','Forty','Fifty','Sixty','Seventy','Eighty','Ninety']\n",
    "    f = ['','One Hundred','Two Hundred','Three Hundred','Four Hundred','Five Hundred','Six Hundred','Seven Hundred','Eight Hundred','Nine Hundred',]\n",
    "    g = ['','One Thousand','Two Thousand','Three Thousand','Four Thousand','Five Thousand','Six Thousand','Seven Thousand','Eight Thousand','Nine Thousand','Ten Thousand']\n",
    "    print(\"Your result is :\",c,\"Rupees\")\n",
    "    h = int(c)\n",
    "    if c < 19 :\n",
    "        print(\"Your No. in word :\",d[h])\n",
    "    elif c <100 :\n",
    "        print(\"Your No. in word is : \",e[h//10] +\" \"+ d[h % 10 ])\n",
    "    elif c < 1000 :\n",
    "        print(\"Your No. in word is :\",f[h//100]+\" \"+ e[(h%100)//10] +\" \"+ d[h % 10 ])\n",
    "    elif c < 11000 :\n",
    "        print(\"Your No. in word is :\",g[h//1000]+\" \"+f[(h%1000)//100]+\" \"+ e[((h%1000)%100)//10] +\" \"+ d[h % 10 ],\"Rupees Only\")\n",
    "    \n",
    "    \n",
    "    "
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "d2809144",
   "metadata": {},
   "outputs": [],
   "source": []
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "aee8ad1a",
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3 (ipykernel)",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.9.12"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}

In [8]:
list = input("enter the names :").split()
value1 = input("\nenter the value :")
value2 = input  ("\nenter the value :")
for k in list :
    print(list.index(k)," ===> ",k)
    if k == value1 or k == value2 :
        list[list.index(k)] = input("\nenter the new value :")
    else:
        print("\n the new list is:")
print(list)

enter the names :Aman Saloni Bishnupriya Sean

enter the value :Sean

enter the value :Aman
0  ===>  Aman

enter the new value :yash
1  ===>  Saloni

 the new list is:
2  ===>  Bishnupriya

 the new list is:
3  ===>  Sean

enter the new value :jatin
['yash', 'Saloni', 'Bishnupriya', 'jatin']

In [ ]:
l1 = [10,5,6,10,8,15,16]
total = 0
for value in l1:
    print(total,"+",value)

In [23]:
L2 = ["Sean","Ria","Maria","Jackie"]
for k in range(len(L2)):
    if k/2==1 :
        L2.remove(L2[k])
        if k/2==1 :
            L2.remove(L2[0])
print(L2)

['Ria', 'Jackie']

In [26]:
from PIL import Image
img = Image.open(input("Enter The path:"))
img

Enter The path:C:\Users\hp\Downloads\11.jpg

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\hp\\Downloads\\11.jpg'

In [39]:
d1 = {"Name":["Sean","Jack"]}
for k in d1.values():
    print(k)
    if "Sean" in k:
        print("True")

['Sean', 'Jack']
True

In [40]:
d1 = {"name":["saloni","yash"],"address":["jaipur","MP"]}
import pandas as pd
df = pd.DataFrame(d1)
df

     name address
0  saloni  jaipur
1    yash      MP

In [ ]:
l1 = [1,2,3,4,5,6,7]
l2 = []
data = [2,4,6]
for k in l1:
    if

In [1]:
def total(a1=100,b1=2.5):
    add = a1+b1
    sub = a1-b1
    mul = a1*b1
    div = a1/b1
    print("\nAddition is :",add)
    print("\nsubtraction is :",sub)
    print("\nmultiplication is :",mul)
    print("\ndivision is :",div)
    
total()

Addition is : 102.5

subtraction is : 97.5

multiplication is : 250.0

division is : 40.0

In [2]:
def info(name,age):
    print("name ==>",name)
    print("age ==>",age)

In [4]:
info("saloni",20)

name ==> saloni
age ==> 20

In [4]:
l1 = [26,[27,90,[100,105,110,200]]]

In [12]:
data = {"name":"jack","keys":{"code":1060,"password":"sean","gmail":"abc@gmail.com"}}

In [16]:
data.update(password=input("enter the new password :"))

enter the new password :saloni

In [17]:
data

{'name': 'jack',
 'keys': {'code': 1060, 'password': 'sean', 'gmail': 'abc@gmail.com'},
 'password': 'saloni'}

In [8]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [14]:
def retList():
    list = []
    for i in range(1,200):          
        list.append(i)
    return list
a = retList()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199]

In [23]:
l1=["sean","jack","neesham","kyle"]
l2=[]
for k in l1:
    l2.append(k)
print(l2)

['sean', 'jack', 'neesham', 'kyle']

In [21]:
l1=["sean","jack","neesham","kyle"]
l2=['jack','kyle','zyan','liam']
for k in l1:
    if k not in l2:
        l2.append(k)
print(l2)

['jack', 'kyle', 'zyan', 'liam', 'sean', 'neesham']

In [2]:
def text():
    return "Hello Jackie !!!! I am Tired.."

In [3]:
print(text())

Hello Jackie !!!! I am Tired..

In [8]:
d1={'name':"saloni",'age':20,'gender':'female','number':7410809994}
import pandas as pd
df= pd.DataFrame(d1)
print(df)

ValueError: If using all scalar values, you must pass an index